body {
    background : #48b9a8;
    color: #000000;
    font-family: cursive;
    padding-top: 3%;
}

button {
    border-radius: 5px;
    color: #d6a84a;
    border: none;
    font-family: cursive;  
    background-color:rgb(56, 53, 53); 
    
}

input {
    color: #d6a84a;
    border-radius: 5px;
    border: none;
    font-family: cursive;
    size: 50px;
    background-color:rgb(56, 53, 53);

}

h1 {
    text-align: center;
    color: #fc4a1a;
    padding-top: 0%;
    top: 8px;
}

h1:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

h2 {
    font-family: cursive;
    color: #fc4a1a;

}

h2:hover{
    text-decoration: underline;
    text-decoration-style: unset;
}

h4 {
    color: #fc4a1a;
}

#img {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;

    }

#img1 {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;

}
